---
import Boton from '../atoms/Boton.astro';
import './hero.css';

const { translations } = Astro.props;
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<p class="hero__title color__gradiente">{translations.hello}</p>
			<h1 class="hero__text">{translations.job}</h1>
			<Boton href="#about" texto={translations.aboutMe} />
		</div>
		<img
			class="hero__img"
			src="/img/emoji.png"
			alt="Grégory Leroux"
			width="384"
			height="384"
		/>
	</div>
</section>
