:root {
	/* color  */
	--primary-0: #2e3742; /* Nouvelle couleur principale */
	--primary-10: #53c479;
	--primary-20: #3fa76d;
	--primary-30: #47bb7b; 
	--primary-40: #50cf89;
	--primary-50: #58e397;
	--primary-60: #53c479; /* Nouvelle couleur accent */
	--primary-70: #7aebad;
	--primary-80: #8deebb;
	--primary-90: #ffffff;
	--primary-95: #f2f9f5;
	--primary-99: #f9fcfa;
	--primary-100: #ffffff;

	--secondary-0: #53c479; /* Nouvelle couleur secondaire */
	--secondary-10: #2e3742;
	--secondary-20: #364150;
	--secondary-30: #53c479; /* Couleur secondaire accent */
	--secondary-40: #3fa76d;
	--secondary-50: #47bb7b;
	--secondary-60: #50cf89;
	--secondary-70: #58e397;
	--secondary-80: #7aebad;
	--secondary-90: #8deebb;
	--secondary-95: #a0f1c9;
	--secondary-99: #b3f4d7;
	--secondary-100: #53c479;

	/* couleurs des propriétés */
	--surface: #2e3742; /* Nouvelle couleur sombre contrastante */
	--surface-variant: #e0e3e7;
	--surface-dim: #9da3aa;
	--surface-bridge: #d4d8dd;

	--primary: var(--primary-60);
	--on-surface-primary: var(--primary-10);
	--on-primary: var(--primary-95);

	--secondary: var(--secondary-70);
	--on-surface-secondary: var(--secondary-95);
	--on-secondary: var(--secondary-95);

	/* texto  */
	--text-small: 1.2rem;
	--text-medium: 1.4rem;
	--text-large: 1.6rem;
	--text-x-large: 2rem;
	--text-xx-large: 3.1rem;
	--text-xxx-large: 4.4rem;
	--text-title: 2rem;
	--text-general: 1.6rem;
	--text-button: 1.2rem;
	--font-montserrat: 'Montserrat', sans-serif;
	--max-width: 108rem;
	--site-bg: var(--primary-0);
	--hero-bg: linear-gradient(
		-54deg,
		var(--primary-0) -23%,
		var(--primary-20),
		var(--primary-0) 51%
	);

	--text-gradient: radial-gradient(
		circle farthest-corner at center center,
		#ffffff 0%,
		#53c479 100%
	);
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--font-montserrat) !important;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	background: var(--site-bg) no-repeat;
}

main {
	align-self: center;
}

p {
	color: var(--primary-100);
	font-size: var(--text-general);
}

.color__gradiente {
	background: var(--text-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.max__width {
	max-width: 117.8rem;
}
