<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Administration du portfolio{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            <link rel="stylesheet" href="/admin/bootstrap.css">
            <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <!-- ==========    Navbar   ========== -->
        <nav id="navigation" class="navbar navbar-expand-lg navigation sticky-top bg-dark">
            <div class="container">

                    <!-- logo -->
                    <a class="navbar-brand logo" href="">
                            <img src="https://themes.gohugo.io/theme/meghna-hugo/images/logo.png" alt="Logo">
                            <span class="pl-2 font-weight-bold">Grégory Leroux</span>
                    </a>
                    <!-- /logo -->

                    <!-- responsive nav button -->
                    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- main nav -->
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto navigation-menu">                            
                                    <li class="nav-item"><a class="nav-link" data-scroll="competences" href="#competences">Compétences</a></li>
                                    
                                    <li class="nav-item"><a class="nav-link" data-scroll="realisations" href="#realisations">Réalisations</a></li>
                                    
                                    <li class="nav-item"><a class="nav-link" data-scroll="contact" href="#contact">Contact</a></li>
                            </ul>
                    </div>
                    
                    <!-- /main nav -->
            </div>
        </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>