---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/public/img/me.png"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				I’m a backend Developer with over 4 years of experience, specialized in e-commerce solutions. I have mainly worked on e-commerce platforms such as prestashop and shopify by developing PrestaShop modules and PHP/Symfony microservices for Shopify. I'm constantly eager to learn and enhance my skills, always open to exploring new areas, even beyond my specialties.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
