---
import Logo from '../Logo.astro';
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer>
	<div class="footer__container">
		<Logo name="Grégory Leroux" />
	</div>

	<aside class="footer__links">
		<SocialIcons width="23" height="23" />
	</aside>
</footer>