---
import About from '../../components/About/About.astro';
import BlogHome from '../../components/BlogHome.astro';
import { mainMenu } from '../../components/data/menuData';
import Footer from '../../components/Footer/Footer.astro';
import Header from '../../components/header/Header.astro';
import Hero from '../../components/hero/Hero.astro';
import Portfolio from '../../components/Portfolio.astro';
// import Skills from '../../components/skills/Skills.astro';
import Layout from '../../layouts/Layout.astro';
import { languageTag } from '../../paraglide/runtime';
---

<Layout title="Grégory Leroux | Developer PHP">
	<Header origin={mainMenu} lang={languageTag()} />
	<main class="self-center w-full">
		<!-- Passer la traduction au composant Hero -->
		<Hero />
		<About />
		<!-- <Skills /> -->
		<Portfolio lang={languageTag()} />
		<BlogHome />
	</main>
	<Footer />
</Layout>
